.main--content div{
    background-color: whitesmoke;
    width: 30%;
    display: block;
    margin: 50px 30%;
    padding: 5%;
    border: 2px solid #bdbdbd;
    border-radius: 25px;
}

.main--content div h1{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 1em;
    text-align: center;
}

.main--content div p{
    text-align: center;
}